<h2 class="md-title">Who we are?</h2>
<p class="md-subhead">
	This application is developed and maintained by <a href="https://uttarauniversity.edu.bd" target="_blank">Uttara University</a><code> IT Section</code>.
</p>

<h2 class="md-title">Built with?</h2>
<p class="md-subhead">
	The application is built with angularjs, material design, codeigniter 3.1, Mysql.
</p>

<h3 class="md-headline">Angular Material</h3>
<p class="md-subhead">
Built using <a href="https://material.angularjs.org/" target="_blank">Angular Material</a>, there are over 32 material design components that you can leverage right away. The Angular Material implementation of Google's Material Design provides a set of reusable, well-tested, and accessible UI components. To know more, visit the <a href="https://material.angularjs.org/latest/" target="_blank">documentation</a>.
</p>