
<md-content>
<h2 class="md-title">Built with?</h2>

 <md-list flex>

  <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    <p>PHP, MySQL</p>
  </md-list-item>
  <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
    <p>Using PHP most popular Codeigniter framework latest version</p>
    <md-button class="md-raised md-secondary"><a target="_blank" href="https://codeigniter.com/">More Info</a></md-button>
  </md-list-item>
        </md-list>

<p class="md-subhead">
	The application is built with angularjs, material design, codeigniter 3.1, Mysql.
</p>

<h3 class="md-headline">Angular Material</h3>
<p class="md-subhead">
Built using <a href="https://material.angularjs.org/" target="_blank">Angular Material</a>, there are over 32 material design components that you can leverage right away. The Angular Material implementation of Google's Material Design provides a set of reusable, well-tested, and accessible UI components. To know more, visit the <a href="https://material.angularjs.org/latest/" target="_blank">documentation</a>.
</p>
        </md-content>